

.menu{
    display: inline-block;
    width: 120px;
    border-radius: 10px ;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
}
.menu img{
    width: 120px;
}
.menu img:hover{
    border: 2px solid lightblue;
    cursor: pointer;
}
#app{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#menu{
    /* background-color: aquamarine; */
}
#resultat {
    width: 500px;
    padding: 10px;
}

.choix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px 0px;
}
.choix img{
    width: 80px;
}

#total{
    color: green;
    font-size: 30px;
    text-align: center;
}